# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore Colab checkpoints
.ipynb_checkpoints/

# Ignore environment variables or secret files
.env
userdata.json

# Ignore data files (optional)
data/

# Ignore system files
.DS_Store
